---
import './BackgroundBlocks.scss';
---

<span class="c-background-blocks _bottom">
  <span class="c-background-blocks-row">
    <span class="c-background-blocks-item"></span>
    <span class="c-background-blocks-item"></span>
    <span class="c-background-blocks-item"></span>
    <span class="c-background-blocks-item"></span>
  </span>
  <span class="c-background-blocks-row">
    <span class="c-background-blocks-item"></span>
    <span class="c-background-blocks-item"></span>
    <span class="c-background-blocks-item"></span>
  </span>
  <span class="c-background-blocks-row">
    <span class="c-background-blocks-item"></span>
    <span class="c-background-blocks-item"></span>
  </span>
  <span class="c-background-blocks-row">
    <span class="c-background-blocks-item"></span>
  </span>
</span>
