@use 'resources/styles/scss/foundation' as *;

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// 🍔 Button
//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.c-drawer-button {
  display: none;
  width: 3rem;
  aspect-ratio: 10/10;
  pointer-events: auto;
  background: rgba(0, 0, 0, 0.5);

  @include Breakpoint(inch11) {
    display: block;
  }
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// 🍔 Drawer
//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.c-drawer {
  @include Flex(center, center);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100vh;
  padding: 8rem 2rem;
  overflow-y: scroll;
  -webkit-overscroll-behavior: none;
  overscroll-behavior: none;
  pointer-events: none;
  scrollbar-width: none; // FireFox用
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s ease;
  -ms-overflow-style: none; // IE,edge用

  &::-webkit-scrollbar {
    // Chrome,Safari用
    display: none;
  }

  &-body {
    position: relative;
    z-index: 10;
  }

  & * :focus-visible {
    @include FocusStyle;
  }

  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  // 🍟 IsOpen
  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  &[aria-hidden='false'] {
    pointer-events: auto;
    opacity: 1;
  }
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// 🍔 CloseButton
//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.c-drawer-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  aspect-ratio: 10/10;
  margin: auto;
  background: rgba(255, 255, 255, 0.5);
  translate: 0 -100%;
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// 🍔 Drawer Background Overlay
//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.c-drawer-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
