---
import { HeadingSection, LabelCatch, ButtonCTA } from '@/components/elements/index';
import { BackgroundBlocks, BackgroundBlocksBottom } from '@/components/decorations/index';
import './top.scss';
---

<section class="p-top-flow">
  <div class="p-top-flow-decoration">
    <img src="/images/decoration-flow.svg" alt="Decoration Flow" />
    <BackgroundBlocks position="top" />
  </div>
  <div class="p-top-flow-body">
    {/* :::::::::::::::::::::::::::::::::::::::::::::::::: */}
    {/* Heading                                     */}
    {/* :::::::::::::::::::::::::::::::::::::::::::::::::: */}
    <div class="p-top-item-heading" id="flow">
      <HeadingSection level={2} japanese="LINEで丸投げOK!" color="white">
        <LabelCatch slot="english" text="#Flow" size="copy" color="pink-light" />
      </HeadingSection>
    </div>

    {/* :::::::::::::::::::::::::::::::::::::::::::::::::: */}
    {/* Contents   */}
    {/* :::::::::::::::::::::::::::::::::::::::::::::::::: */}
    <div class="p-top-flow-contents">
      <div class="p-top-flow-contents-row _top">
        <div class="p-top-flow-contents-item">
          <div class="p-top-flow-contents-item-body">
            <h3 class="p-top-flow-contents-item-heading">01.公式LINEからお問い合わせ</h3>
            <p class="p-top-flow-contents-item-paragraph">
              まずはLINEの友だち登録をして用途や枚数、希望納期など分かる範囲でメッセージをお送りください。
            </p>
          </div>
        </div>
        <div class="p-top-flow-contents-item">
          <div class="p-top-flow-contents-item-body">
            <h3 class="p-top-flow-contents-item-heading">03.デザイン作成・確認</h3>
            <p class="p-top-flow-contents-item-paragraph">
              お客様のご希望に基づき、デザインを作成いたします。修正もお気軽にお申し付けください。
            </p>
          </div>
        </div>
        <div class="p-top-flow-contents-item">
          <div class="p-top-flow-contents-item-body">
            <h3 class="p-top-flow-contents-item-heading">05.商品製作・お届け</h3>
            <p class="p-top-flow-contents-item-paragraph">
              製作が完了次第、指定の場所へ製品をお届けします。到着までしばらくお待ちください。
            </p>
          </div>
        </div>
      </div>
      <div class="p-top-flow-contents-bar"></div>
      <div class="p-top-flow-contents-row _bottom">
        <div class="p-top-flow-contents-item">
          <div class="p-top-flow-contents-item-body">
            <h3 class="p-top-flow-contents-item-heading">02.お見積りのご提示</h3>
            <p class="p-top-flow-contents-item-paragraph">
              お客様のご希望に基づき、詳細なお見積もりを作成いたします。内容をご確認ください。
            </p>
          </div>
        </div>
        <div class="p-top-flow-contents-item">
          <div class="p-top-flow-contents-item-body">
            <h3 class="p-top-flow-contents-item-heading">04.ご注文の成立</h3>
            <p class="p-top-flow-contents-item-paragraph">
              サイズや番号も決定次第、ご注文確定となります。確定された注文内容・料金・お届け時期をお伝えします。
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="p-top-flow-contents-button">
      <ButtonCTA textSub="専門スタッフが完全サポート！" textMain="公式LINEへ" />
    </div>
  </div>
  <div class="p-top-flow-decoration _bottom">
    <img src="/images/decoration-flow.svg" alt="Decoration Flow" />
    <BackgroundBlocks position="bottom" />
  </div>
</section>
