---
import { TextLoop } from '@/components/decorations/index';
import { HeadingSection, LabelCatch } from '@/components/elements/index';
---

<TextLoop text="Sports x Apparel Custom Order Brand F-Creation" color="canvas" />
<TextLoop
  text="#About F-Creation #About F-Creation #About F-Creation"
  reverse
  color="yellow-light"
/>

<section class="p-top-about">
  <div class="p-top-about-body">
    {/* :::::::::::::::::::::::::::::::::::::::::::::::::: */}
    {/* Detail                                             */}
    {/* :::::::::::::::::::::::::::::::::::::::::::::::::: */}
    <div class="p-top-about-detail">
      <HeadingSection level={2} japanese="ウェア・グッズ・ノベルティまで一括で。" color="white">
        <LabelCatch slot="english" text="#ABOUT" size="copy" />
      </HeadingSection>
      <p>F・CREATIONは、「想いが伝わる瞬間」を増やすためにある。</p>
      <p>
        キーパーグローブブランド「erebos」で積み重ねた品質基準。そして、現場を知る目線とデザインの力。
        その両方を手に、スポーツもアパレルも、あなたの目的に合わせた"オーダーメイド"をつくっていきます。
      </p>
      <p>
        私たちがつくりたいのは、ただのウェアじゃない。選手の覚悟、チームの誇り、支える人の気持ち、応援する声。それぞれの「背景」が、一枚に宿ること。
      </p>
      <p>
        F・CREATIONは、スポーツにも、日常にも、イベントにも。「らしさ」と「体感」を加えていきます。
      </p>
    </div>

    {/* :::::::::::::::::::::::::::::::::::::::::::::::::: */}
    {/* Image                                              */}
    {/* :::::::::::::::::::::::::::::::::::::::::::::::::: */}
    <div class="p-top-about-image">
      <img src="/images/model/img-010.jpg" alt="About Detail" />
    </div>
  </div>
</section>
