---
import { HeadingSection, LabelCatch, Image } from '@/components/elements/index';
import { TextLoop } from '@/components/decorations/index';
---

<div class="p-top-reason">
  <div class="p-top-reason-decoration">
    <TextLoop
      texts={['Sports', 'x', 'Apparel', 'Custom', 'Order', 'Brand', 'F-Creation']}
      color="canvas"
    />
    <TextLoop
      texts={['#REASON', 'F-Creation', '#REASON', 'F-Creation']}
      reverse
      color="yellow-light"
    />
  </div>

  <section class="p-top-reason-section">
    <div class="p-top-reason-body">
      {/* :::::::::::::::::::::::::::::::::::::::::::::::::: */}
      {/* Heading                                     */}
      {/* :::::::::::::::::::::::::::::::::::::::::::::::::: */}
      <div class="p-top-reason-heading">
        <HeadingSection level={2} japanese="品質にも、価格にも、理由があります。" color="white">
          <LabelCatch slot="english" text="#REASON" size="copy" color="yellow-light" />
        </HeadingSection>
      </div>

      <div class="p-top-reason-contents">
        {/* :::::::::::::::::::::::::::::::::::::::::::::::::: */}
        {/* Image */}
        {/* :::::::::::::::::::::::::::::::::::::::::::::::::: */}
        <div class="p-top-reason-contents-image">
          <img src="/images/hero-model1.jpg" alt="" />
          <img src="/images/hero-model2.jpg" alt="" />
          <img src="/images/about-image1.jpg" alt="" />
          <img src="/images/hero-item-image2.jpg" alt="" />
        </div>

        {/* :::::::::::::::::::::::::::::::::::::::::::::::::: */}
        {/* Detail                                            */}
        {/* :::::::::::::::::::::::::::::::::::::::::::::::::: */}
        <div class="p-top-reason-contents-detail">
          <section class="p-top-reason-contents-detail-section">
            <h3 class="p-top-reason-contents-detail-section-title">高品質の安心感</h3>
            自社の縫製工場があるので生地選びから仕上がりまで目 が届く体制で、安定したクオリティを実現。.
            高品質なのに手の届きやすい価格でご提案できます。 スポーツ用ウェアでは、他社では対応が難しいこともあ
            るウォームアップウェアなどにも、高品質な昇華プリン トで対応可能。 「動く」「汗をかく」「洗う」が当た
            り前の日常で、安心して使える一枚をつくります。
          </section>
          <section class="p-top-reason-contents-detail-section">
            <h3 class="p-top-reason-contents-detail-section-title">高品質の安心感</h3>
            自社の縫製工場があるので生地選びから仕上がりまで目 が届く体制で、安定したクオリティを実現。.
            高品質なのに手の届きやすい価格でご提案できます。 スポーツ用ウェアでは、他社では対応が難しいこともあ
            るウォームアップウェアなどにも、高品質な昇華プリン トで対応可能。 「動く」「汗をかく」「洗う」が当た
            り前の日常で、安心して使える一枚をつくります。
          </section>
          <section class="p-top-reason-contents-detail-section">
            <h3 class="p-top-reason-contents-detail-section-title">高品質の安心感</h3>
            自社の縫製工場があるので生地選びから仕上がりまで目 が届く体制で、安定したクオリティを実現。.
            高品質なのに手の届きやすい価格でご提案できます。 スポーツ用ウェアでは、他社では対応が難しいこともあ
            るウォームアップウェアなどにも、高品質な昇華プリン トで対応可能。 「動く」「汗をかく」「洗う」が当た
            り前の日常で、安心して使える一枚をつくります。
          </section>
          <section class="p-top-reason-contents-detail-section">
            <h3 class="p-top-reason-contents-detail-section-title">高品質の安心感</h3>
            自社の縫製工場があるので生地選びから仕上がりまで目 が届く体制で、安定したクオリティを実現。.
            高品質なのに手の届きやすい価格でご提案できます。 スポーツ用ウェアでは、他社では対応が難しいこともあ
            るウォームアップウェアなどにも、高品質な昇華プリン トで対応可能。 「動く」「汗をかく」「洗う」が当た
            り前の日常で、安心して使える一枚をつくります。
          </section>
        </div>
      </div>
    </div>
  </section>
</div>
