---
import { HeadingSection, LabelCatch, Image } from '@/components/elements/index';
import { TextLoop } from '@/components/decorations/index';
---

<div class="p-top-reason">
  <div class="p-top-reason-decoration">
    <TextLoop
      texts={['Sports', 'x', 'Apparel', 'Custom', 'Order', 'Brand', 'F-Creation']}
      color="canvas"
    />
    <TextLoop
      texts={['#REASON', 'F-Creation', '#REASON', 'F-Creation']}
      reverse
      color="yellow-light"
    />
  </div>

  <section class="p-top-reason-section">
    <div class="p-top-reason-body">
      {/* :::::::::::::::::::::::::::::::::::::::::::::::::: */}
      {/* Heading                                     */}
      {/* :::::::::::::::::::::::::::::::::::::::::::::::::: */}
      <div class="p-top-reason-heading">
        <HeadingSection level={2} japanese="品質にも、価格にも、理由があります。" color="white">
          <LabelCatch slot="english" text="#REASON" size="copy" color="yellow-light" />
        </HeadingSection>
      </div>

      {/* :::::::::::::::::::::::::::::::::::::::::::::::::: */}
      {/* Contents                                            */}
      {/* :::::::::::::::::::::::::::::::::::::::::::::::::: */}
      <div class="p-top-reason-contents">
        {/* Image :::::::::::::::::::::::::::::::::::: */}
        <div class="p-top-reason-contents-image">
          <div class="p-top-reason-contents-image-item">
            <div class="p-top-reason-contents-image-item-body">
              <span class="p-top-reason-contents-image-item-bar"></span>
              <div class="p-top-reason-contents-image-item-logo">
                <Image imagePath="logo/logo-main.svg" altText="Hero Detail" />
              </div>
            </div>
          </div>
        </div>

        {/* Detail :::::::::::::::::::::::::::::::::::: */}
        <div class="p-top-reason-contents-detail">
          <section class="p-top-reason-contents-detail-section">
            <h3 class="p-top-reason-contents-detail-section-title">01.耐久性に優れた高品質</h3>
            <p class="p-top-reason-contents-detail-section-detail">
              自社の縫製工場があるので生地選びから仕上がりまで目が届く体制で、安定したクオリティを実現。
              高品質なのに手の届きやすい価格でご提案できます。スポーツ用ウェアでは、他社では対応が難しいこともあ
              るウォームアップウェアなどにも、高品質な昇華プリントで対応可能。「動く」「汗をかく」「洗う」が当た
              り前の日常で、安心して使える一枚をつくります。
            </p>
          </section>
          <section class="p-top-reason-contents-detail-section">
            <h3 class="p-top-reason-contents-detail-section-title">01.耐久性に優れた高品質</h3>
            <p class="p-top-reason-contents-detail-section-detail">
              自社の縫製工場があるので生地選びから仕上がりまで目が届く体制で、安定したクオリティを実現。
              高品質なのに手の届きやすい価格でご提案できます。スポーツ用ウェアでは、他社では対応が難しいこともあ
              るウォームアップウェアなどにも、高品質な昇華プリントで対応可能。「動く」「汗をかく」「洗う」が当た
              り前の日常で、安心して使える一枚をつくります。
            </p>
          </section>
          <section class="p-top-reason-contents-detail-section">
            <h3 class="p-top-reason-contents-detail-section-title">01.耐久性に優れた高品質</h3>
            <p class="p-top-reason-contents-detail-section-detail">
              自社の縫製工場があるので生地選びから仕上がりまで目が届く体制で、安定したクオリティを実現。
              高品質なのに手の届きやすい価格でご提案できます。スポーツ用ウェアでは、他社では対応が難しいこともあ
              るウォームアップウェアなどにも、高品質な昇華プリントで対応可能。「動く」「汗をかく」「洗う」が当た
              り前の日常で、安心して使える一枚をつくります。
            </p>
          </section>
          <section class="p-top-reason-contents-detail-section">
            <h3 class="p-top-reason-contents-detail-section-title">01.耐久性に優れた高品質</h3>
            <p class="p-top-reason-contents-detail-section-detail">
              自社の縫製工場があるので生地選びから仕上がりまで目が届く体制で、安定したクオリティを実現。
              高品質なのに手の届きやすい価格でご提案できます。スポーツ用ウェアでは、他社では対応が難しいこともあ
              るウォームアップウェアなどにも、高品質な昇華プリントで対応可能。「動く」「汗をかく」「洗う」が当た
              り前の日常で、安心して使える一枚をつくります。
            </p>
          </section>
        </div>
      </div>
    </div>
  </section>
</div>
