@use 'resources/styles/scss/foundation' as *;

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// 🍔 About
//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.p-top-about {
  position: relative;
  z-index: 1;
  overflow: clip;

  &-body {
    @include ContentsPadding(section, m, l);
    @include Flex(left, top, 4rem);
    position: relative;
    z-index: 10;
  }

  &-detail {
    width: 55%;
    p {
      line-height: 2;
    }
    p + p {
      margin-top: 2rem;
    }
  }

  &-image {
    position: sticky;
    top: 0;
    left: 0;
    flex: 1;
    height: calc(100vh - 4rem);
    background: #fff;
    @include CardStyle;
    @include ContentsPadding(xs, xs);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.25rem;
    }
  }
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// 🍔 Item
//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.p-top-item {
  position: relative;
  z-index: 100;
  @include ContentsPadding(xl, m, section);

  &-body {
    @include Flex(left, top, 0);
    position: relative;
    z-index: 10;
  }

  &-heading {
    width: 100%;
    @include Flex(center, none);
    text-align: center;
  }

  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  // 🍟 List
  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  &-list {
    width: 100%;
    @include Flex(left, none, 1rem);
  }
  &-list-item {
    @include FlexItem(4, 1rem);
    @include CardStyle;
    @include ContentsPadding(s, s);
    background: #fff;
    // &:nth-child(2),
    // &:nth-child(6),
    // &:nth-child(10),
    // &:nth-child(14) {
    //   translate: 0 2rem;
    // }
    // &:nth-child(3),
    // &:nth-child(7),
    // &:nth-child(11),
    // &:nth-child(15) {
    //   translate: 0 -1rem;
    // }
  }
  &-list-item-image {
    width: 100%;
    aspect-ratio: 10/10;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  &-list-item-detail {
    width: 100%;
    margin-top: 1rem;
    &-title {
      @include FontFamily(sub);
      @include FontStyle(xl);
      display: block;
      text-transform: capitalize;
      text-box: trim-both cap alphabetic;
    }
    &-sub {
      @include FontStyle(xs);
      display: block;
      margin-top: 0.5rem;
      font-weight: 900;
      text-box: trim-both cap alphabetic;
    }
  }

  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  // 🍟 BlockCTA
  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  .c-block-cta {
    margin-top: 2rem;
  }
}

@keyframes kfReasonImageFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// 🍔 Reason
//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.p-top-reason {
  position: relative;
  background: color(yellow, weak);
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: auto;
    content: '';
    background: color(canvas);
    border-radius: 100%;
    translate: 0 -50%;
  }

  &-decoration {
    position: relative;
    z-index: 10;
    translate: 0 -50%;
  }

  &-section {
    @include ContentsPadding(xl, none, none);
    position: relative;
    z-index: 10;
  }

  &-heading {
    width: 100%;
    @include ContentsPadding(none, m, none);
    @include Flex(center, none, 0rem);
    text-align: center;
  }

  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  // 🍟 Contents
  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  &-contents {
    width: 100%;
    @include Flex(left, none, 0rem);
    border-top: $BorderWidth dashed color(text);
    border-bottom: $BorderWidth dashed color(text);
  }

  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  // 🍟 Image
  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  &-contents-image {
    position: sticky;
    top: 0;
    left: 0;
    width: 40%;
    height: 100vh;
    perspective: 800px;
  }

  &-contents-image-item {
    @include CardStyle;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 55%;
    aspect-ratio: 10/18;
    margin: auto;
    background: #fff;
    border-radius: 1rem;
    translate: 0 -50%;

    &-body {
      width: 100%;
      height: 100%;
      background: color(blue, light);
      border: $BorderWidth solid color(text);
      border-radius: 0.75rem;
      @include Flex(center, center);
    }
    &-logo {
      position: relative;
      width: 60%;
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        aspect-ratio: 10/10;
        margin: auto;
        content: '';
        background: color(blue, weak);
        border-radius: 100%;
      }
      svg {
        position: relative;
        z-index: 10;
      }
    }

    &-bar {
      position: absolute;
      top: 1rem;
      right: 0;
      left: 0;
      z-index: 10;
      width: 40%;
      height: 0.75rem;
      margin: auto;
      content: '';
      @include Flex(center, none, 0.25rem);
      &::before {
        display: block;
        width: 70%;
        content: '';
        background: color(blue, strong);
        border-radius: 100px;
      }
      &::after {
        height: 100%;
        aspect-ratio: 10/10;
        content: '';
        background: color(blue, strong);
        border-radius: 100%;
      }
    }
  }

  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  // 🍟 Icons
  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  &-contents-image-icons {
    position: absolute;
    top: 15%;
    right: 0;
    left: 0;
    z-index: 10;
    @include Flex(center, none, 0.5rem);
    justify-content: center;
    &-item {
      &-body {
        @include CardStyle;
        position: relative;
        display: inline-block;
        width: 5rem;
        padding: 0.75rem;
        background: #fff;
        border-radius: 100%;
      }
    }
  }

  &-contents-image {
    .p-top-reason-contents-image-icons-item:nth-child(1) {
      translate: 0% 20%;
      .p-top-reason-contents-image-icons-item-body {
        @include kfYoYo(0s, 4s, 10%);
      }
    }
    .p-top-reason-contents-image-icons-item:nth-child(2) {
      translate: 0% 0%;
      .p-top-reason-contents-image-icons-item-body {
        @include kfYoYo(-0.2s, 4s, 10%);
      }
    }
    .p-top-reason-contents-image-icons-item:nth-child(3) {
      translate: 0% 0%;
      .p-top-reason-contents-image-icons-item-body {
        @include kfYoYo(-1s, 4s, 10%);
      }
    }
    .p-top-reason-contents-image-icons-item:nth-child(4) {
      translate: 0% 20%;
      .p-top-reason-contents-image-icons-item-body {
        @include kfYoYo(-2.5s, 4s, 10%);
      }
    }
  }
  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  // 🍟 Detail
  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  &-contents-detail {
    flex: 1;
    border-left: $BorderWidth dashed color(text);
  }
  &-contents-detail-section {
    width: 100%;
    @include ContentsPadding(l, m);
    & + & {
      border-top: $BorderWidth dashed color(text);
    }
  }
  &-contents-detail-section-title {
    @include Flex(left, center, 1rem);
    margin-bottom: 1rem;
    .text {
      @include FontStyle(xl);
      font-weight: 900;
    }
  }
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// 🍔 Flow
//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.p-top-flow {
  position: relative;
  z-index: 1;
  background: color(pink);
  @include ContentsPadding(section, m, section);

  &-body {
    position: relative;
    z-index: 10;
  }

  &-decoration {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding-top: 4rem;
    margin: auto;
    overflow: clip;
    pointer-events: none;
    background: color(pink, weak);
    img {
      position: relative;
      z-index: 10;
      display: block;
      translate: 0 1px;
    }
    .c-background-blocks {
      align-content: flex-start;
      opacity: 0.5;
    }

    // 🥤 Bottom :::::::::::::::::::::::::::::::::::::::::::
    &._bottom {
      top: auto;
      bottom: 0;
      padding-top: 0;
      background: color(blue, weak);
      .c-background-blocks {
        align-content: flex-end;
        opacity: 0.5;
      }
      img {
        rotate: 180deg;
        translate: 0 -1px;
      }
    }
  }

  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  // 🍟 Contents
  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  &-contents {
    width: 100%;
    @include Breakpoint(inch11) {
      @include Flex(left, none, 2rem);
      border-left: 0.75rem solid color(text);
    }
  }

  &-contents-button {
    width: 100%;
    @include Flex(center, center);
    margin-top: 4rem;
  }

  &-contents-row {
    width: 100%;
    @include Flex(center, none, 4rem);
    @include Breakpoint(inch11) {
      display: contents;
    }
  }

  &-contents-bar {
    width: 100%;
    height: 0.5rem;
    content: '';
    background: color(text);
    @include Breakpoint(inch11) {
      display: none;
    }
  }

  &-contents-item {
    @include FlexItem(3, 4rem);
    position: relative;
    @include Breakpoint(inch11) {
      width: 100%;
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 2rem;
      aspect-ratio: 1/1;
      margin: auto;
      content: '';
      background: color(blue);
      border: 0.25rem solid #fff;
      border-radius: 100%;
      translate: 0 63%;
      @include Breakpoint(inch11) {
        top: 0;
        right: auto;
        bottom: auto;
        translate: -67% 24%;
      }
    }
    &::before {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 0.5rem;
      height: 3rem;
      margin: auto;
      content: '';
      background: #fff;
      @include Breakpoint(inch11) {
        top: 0;
        right: auto;
        bottom: auto;
        width: 2.5rem;
        height: 0.5rem;
        translate: 0 250%;
      }
    }

    ._top & {
      padding-bottom: 2rem;
      @include Breakpoint(inch11) {
        padding-bottom: 0;
        padding-left: 2rem;
      }
    }

    ._bottom & {
      padding-top: 2rem;
      @include Breakpoint(inch11) {
        padding-top: 0;
        padding-left: 2rem;
      }
      &::after {
        top: 0;
        bottom: auto;
        translate: 0 -63%;
        @include Breakpoint(inch11) {
          top: 0;
          right: auto;
          bottom: auto;
          translate: -67% 24%;
        }
      }
      &::before {
        top: 0;
        bottom: auto;
      }
    }

    &-body {
      @include CardStyle;
      @include ContentsPadding(s, s);
      background: #fff;
    }
    &-heading {
      @include FontStyle(l);
      font-weight: 900;
    }
    &-paragraph {
      @include FontStyle(s);
      margin-top: 0.25rem;
    }
  }
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// 🍔 FAQ
//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.p-top-faq {
  position: relative;
  overflow: clip;
  background: color(blue, weak);
  @include ContentsPadding(l, m, section);
  &-body {
    position: relative;
    z-index: 10;
  }
  .c-background-blocks {
    align-content: flex-start;
    opacity: 0.5;
  }

  &-list {
    @include ContentsSize(m);
    margin: auto;
  }
  &-list-item + &-list-item {
    margin-top: 1rem;
  }
}

.p-top-faq-list-item-details {
  @include CardStyle;
  padding: 0;
  background: #fff;

  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  // 🍟 Summary
  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  &-summary {
    @include ContentsPadding(s, m);
    @include Flex(left, center, 1rem);
  }

  &-summary-title {
    flex: 1;
    @include FontStyle(l);
    font-weight: 900;
    @include Flex(left, top, 1rem);
    .text {
      flex: 1;
      padding-top: 0.15em;
    }
  }

  &-summary-icon {
    position: relative;
    display: block;
    width: 3rem;
    aspect-ratio: 1/1;
    background: color(blue, weak);
    border-radius: 100%;
    &::before,
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 35%;
      height: $BorderWidth;
      margin: auto;
      content: '';
      background: color(blue);
      transition: 0.25s ease-in-out;
      .p-top-faq-list-item-details[open] & {
        rotate: 180deg;
      }
    }
    &::after {
      rotate: 90deg;
      .p-top-faq-list-item-details[open] & {
        rotate: 180deg;
      }
    }
  }

  &::details-content {
    height: 0;
    overflow: clip;
    opacity: 0;
    transition:
      height 0.25s,
      opacity 0.25s,
      content-visibility 0.25s allow-discrete;
    will-change: height, opacity, content-visibility;
  }
  &[open]::details-content {
    height: auto;
    opacity: 1;
  }

  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  // 🍟 Panel
  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  &-panel {
    @include ContentsPadding(1rem, m, m);
    @include Flex(left, top, 1rem);
    &-answer {
      flex: 1;
    }
  }
}
