---
import './top.scss';
import SectionHero from './assets/SectionHero.astro';
---

<SectionHero />

<div class="background">
  <span class="background-elements"></span>
  <span class="background-elements"></span>
  <span class="background-elements"></span>
</div>
