@use 'resources/styles/scss/foundation' as *;

.c-layout-grid {
  gap: 2rem;
  width: 100%;
  @include GridSystem;

  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  // 🍟 Columns
  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  &._cols1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  &._cols2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  &._cols3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  &._cols4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  &._cols5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  &._cols6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

.c-layout-grid-item {
  min-width: 0;
}
