@use 'resources/styles/scss/foundation' as *;

// 💬 Description.........................................
//
// フォームに対してのscss
//
// ............................................................

// :::::::::::::::::::::::::::::::::::::::::::::::::
//
//	🍔 Reset
//
// :::::::::::::::::::::::::::::::::::::::::::::::::
input[type='text'],
input[type='email'],
input[type='number'],
input[type='tel'],
button,
textarea,
select {
  color: color(main);
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// 🍔 Placeholder
//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// 🍔 Item
//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.c-input-field {
  position: relative;
}

.c-input-field-input {
  position: relative;
}

.c-input-field-input-body {
  position: relative;
  display: block;
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// 🍔 Item
//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.c-input-field input[type='text'],
.c-input-field input[type='email'],
.c-input-field input[type='tel'],
.c-input-field select,
.c-input-field textarea {
  @include InputStyle;
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// 🍔 Select
//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// :::::::::::::::::::::::::::::::::::::::::::::::::
//
//	🍔 PP
//
// :::::::::::::::::::::::::::::::::::::::::::::::::
.c-form-pp-confirm {
  button {
    font-weight: 700;

    &::after {
      @include IconMtStyle();
      content: 'web_asset';
    }
  }
}

// :::::::::::::::::::::::::::::::::::::::::::::::::
//
//	🍔 ConfirmWindow
//
// :::::::::::::::::::::::::::::::::::::::::::::::::
.c-form-confirm-window {
  &-buttons {
    @include Flex(center);
    gap: 2rem;
    margin-top: 2rem;
  }
}

// :::::::::::::::::::::::::::::::::::::::::::::
//	✅ HeadingSmall
// :::::::::::::::::::::::::::::::::::::::::::::
