@use 'resources/styles/scss/foundation' as *;

// 💬 Description.........................................
//
// アイコンに対してのscss
//
// ............................................................
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
// @import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
// @import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// 🍔 CommonStyle
//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.c-icon {
  display: inline-block;

  &.is-svg {
    width: 1.5em;
  }
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// 🍟 Material Symbols
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.c-icon:not(:has(svg)) {
  @include IconMtStyle;
  text-align: center;
  translate: 0 -7%;
  will-change: transform;
}
