<div class="p-top-hero-item-image">
  <div class="p-top-hero-item-image-elm">
    <div class="p-top-hero-item-image-elm-body">
      <img src="/images/model/img-051.jpg" alt="" />
    </div>
  </div>
  <div class="p-top-hero-item-image-elm">
    <div class="p-top-hero-item-image-elm-body">
      <img src="/images/model/img-027.jpg" alt="" />
    </div>
  </div>
  <div class="p-top-hero-item-image-elm">
    <div class="p-top-hero-item-image-elm-body">
      <img src="/images/model/img-011.jpg" alt="" />
    </div>
  </div>
  <div class="p-top-hero-item-image-elm">
    <div class="p-top-hero-item-image-elm-body">
      <img src="/images/model/img-017.jpg" alt="" />
    </div>
  </div>
</div>
