@use 'resources/styles/scss/foundation' as *;

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// 🍔 Hero
//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.p-top-hero {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100svh;
  @include ContentsPadding(m, m);
  &-body {
    position: relative;
    z-index: 20;
    height: 100%;
    @include Flex(left, center, 2rem);
    @include ContentsSize(l);
  }

  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  // 🍟 Detail
  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  &-detail {
    position: relative;
    z-index: 120;
  }

  &-detail-copy {
    display: inline-block;
    &-body {
      @include Flex(left, none, 1rem);
    }
    &-logo {
      width: 6rem;
    }
    &-text {
    }
    &-row {
      @include Flex(left, none, 1rem);
      position: relative;
      &:nth-child(2) {
        z-index: 10;
      }
      & + & {
        margin-top: 1rem;
      }
    }
    .c-label-catch-text {
      font-size: 4rem;
      text-transform: capitalize;
    }
  }

  &-detail-card {
    width: 100%;
    margin-top: 1rem;
    @include Flex(center, none, 1rem);
    &-item {
      @include Flex(center, center, 0.5rem);
      @include CardStyle;
      font-weight: 900;
      text-align: center;
      background: #fff;
      border: none;
      @include ContentsPadding(s, s);
      box-shadow: none;
      &-icon {
        width: 3rem;
        height: 3rem;
        margin: auto;
        svg path {
          stroke-width: $BorderWidth;
        }
      }
      &-text {
        flex: 1;
        @include FontStyle(m);
        line-height: 1.5;
        text-align: left;
      }
    }
  }

  &-detail-description {
    margin-top: 1rem;
    font-weight: 900;
  }

  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  // 🍟 Card
  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  .p-top-hero-detail-card {
    @include Flex(left, none, 1rem);
  }

  .p-top-hero-detail-card-item-text {
    @include FontStyle(xs);
  }

  .p-top-hero-detail-bubble {
    position: relative;
    z-index: 100;
  }

  &-button {
    display: inline-block;
  }

  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  // 🍟 Bubble
  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  &-detail-bubble {
    position: relative;
    z-index: 10;
    width: 100%;
    margin-top: 2rem;
    pointer-events: none;
    translate: 0 7%;
    @include Flex(center, none, 0.5rem);
    .c-label-bubble {
      &:nth-child(1) .c-label-bubble-body {
        animation-delay: 0s;
      }
      &:nth-child(2) .c-label-bubble-body {
        animation-delay: 0.5s;
      }
      &:nth-child(3) .c-label-bubble-body {
        animation-delay: -0.2s;
      }
    }
  }

  .c-button-cta {
    z-index: 1;
  }

  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  // 🍟 Image
  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  &-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    flex: 1;
    width: 70%;
    height: 100%;
    margin: auto;
    &-item {
      position: absolute;
      top: 50%;
      right: 0;
      margin: auto;
      background: #fff;
      @include CardStyle;
      @include ContentsPadding(s, s);
      &:nth-child(1) {
        right: -3%;
        z-index: 20;
        width: 41%;
        aspect-ratio: 10/14;
        rotate: 6deg;
        translate: 0% -55%;
      }
      &:nth-child(2) {
        right: 25%;
        width: 32%;
        aspect-ratio: 10/14;
        rotate: -12deg;
        translate: 0% -27%;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.25rem;
    }
  }

  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  // 🍟 HeadingMedium
  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  &-item-image {
    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
    height: 100vh;
    margin: auto;
    pointer-events: none;

    &-elm {
      position: absolute;
      width: 15%;
      aspect-ratio: 10/10;
      margin: auto;

      &-body {
        width: 100%;
        height: 100%;
        overflow: clip;
        background: #fff;
        border: $BorderWidth solid #000;
        border-radius: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:nth-of-type(1) {
        top: 0;
        left: 0;
        translate: 20% -20%;
        .p-top-hero-item-image-elm-body {
          @include kfYoYo(0s, 8s, 4%);
          border-color: color(yellow);
        }
      }

      &:nth-of-type(2) {
        top: 1%;
        right: -2rem;
        .p-top-hero-item-image-elm-body {
          @include kfYoYo(-0.9s, 10s, 4%);
          border-color: color(yellow);
        }
      }

      &:nth-of-type(3) {
        right: 0;
        bottom: 10%;
        left: 0;
        width: 16%;
        translate: 0 50%;
        .p-top-hero-item-image-elm-body {
          @include kfYoYo(0s, 12s, 6%);
          border-color: color(pink);
        }
      }

      &:nth-of-type(4) {
        bottom: 15%;
        left: 0;
        width: 18%;
        translate: -27% 0;
        .p-top-hero-item-image-elm-body {
          @include kfYoYo(-0.2s, 6s, 8%);
          border-color: color(blue);
        }
      }
    }
  }

  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  // 🍟 HeadingLarge
  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  .p-top-hero-item-image-elm:nth-of-type(3) {
    right: 0;
    left: 0;
    translate: 0 50%;
  }
  .p-top-hero-item-image-elm:nth-of-type(4) {
    right: auto;
    left: -6rem;
    translate: 0 20%;
  }
}
