@use 'resources/styles/scss/foundation' as *;

.l-main-root-wrap {
  width: 100%;
  overflow: clip;
}

.l-main-root-modal {
  position: relative;
  z-index: 999960;
  width: 100%;
  overflow: clip;
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// 🍔 GridSystem
//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.l-grid-system {
  @include GridSystem;
  gap: 1rem;

  &:has(:not(.l-grid-system-item:nth-child(2))) {
    @include GridSystem(1);
  }

  &:has(.l-grid-system-item:nth-child(2)) {
    @include GridSystem(2);
  }

  &:has(.l-grid-system-item:nth-child(3)) {
    @include GridSystem(3);
  }

  &:has(.l-grid-system-item:nth-child(4)) {
    @include GridSystem(4);
  }
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// 🍔 Footer
//
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.l-footer-spacer {
  height: 90svh;
}
.l-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  &-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 90svh;
    background: color(canvas);
    @include ContentsPadding(none, m, m);
  }

  &-body {
    @include ContentsSize(m);
    @include Flex(end, center, 2rem);
    position: relative;
    z-index: 10;
    flex-direction: column;
    margin: 0 auto;
  }
  &-detail {
  }
  &-logo {
    width: 11vw;
    margin: auto;
  }
  &-link {
    gap: 1rem;
    margin-top: 1rem;
    @include Flex(left, none, 1rem);
    &-item {
      @include FontStyle(xs);
    }
  }
  &-banner {
    width: min(280px, 100%);
  }

  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  // 🍟 Copyright
  //::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  &-copyright {
    @include ContentsPadding(xs, m);
    display: inline-block;
    margin-top: 2rem;
    text-align: center;
    background: color(canvas);
    background: color(yellow, light);
    border-radius: 0.5rem;
  }
  &-copyright-text {
    @include FontStyle(xs);
  }
}
